body{
	background-image: url("racing car bg.gif");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
	border-width:10px;
	background-color: white; 
	border-style:ridge;
}

h1,h4,h5
{
	color: white !important;
}
